<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BELAIZI_SAFAA_SOAP</display-name>
  <welcome-file-list>
    <welcome-file>Connexion.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnuiteServlet</display-name>
    <servlet-name>AnnuiteServlet</servlet-name>
    <servlet-class>com.belaizi.soap.controller.AnnuiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnuiteServlet</servlet-name>
    <url-pattern>/AnnuiteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapitalServlet</display-name>
    <servlet-name>CapitalServlet</servlet-name>
    <servlet-class>com.belaizi.soap.controller.CapitalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapitalServlet</servlet-name>
    <url-pattern>/CapitalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DureeServlet</display-name>
    <servlet-name>DureeServlet</servlet-name>
    <servlet-class>com.belaizi.soap.controller.DureeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DureeServlet</servlet-name>
    <url-pattern>/DureeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>com.belaizi.soap.controller.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnexionServlet</display-name>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>com.belaizi.soap.controller.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/ConnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Credit</display-name>
    <servlet-name>Credit</servlet-name>
    <servlet-class>com.belaizi.soap.controller.Credit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Credit</servlet-name>
    <url-pattern>/Credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCreditServlet</display-name>
    <servlet-name>SaveCreditServlet</servlet-name>
    <servlet-class>com.belaizi.soap.controller.SaveCreditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCreditServlet</servlet-name>
    <url-pattern>/SaveCreditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>com.belaizi.soap.controller.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllCreditsServlet</display-name>
    <servlet-name>AllCreditsServlet</servlet-name>
    <servlet-class>com.belaizi.soap.controller.AllCreditsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllCreditsServlet</servlet-name>
    <url-pattern>/AllCreditsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnuiteServlet2</display-name>
    <servlet-name>AnnuiteServlet2</servlet-name>
    <servlet-class>com.belaizi.soap.controller.AnnuiteServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnuiteServlet2</servlet-name>
    <url-pattern>/AnnuiteServlet2</url-pattern>
  </servlet-mapping>
</web-app>